<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.riberadeltajo.refugiadosgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".common.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ruta1.view.Madrid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Maletas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Trans"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Milan_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Milan_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Milan_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Passport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Peso_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Peso_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Peso_If"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Peso_Else_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Peso_Else_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Pie"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Pie_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Rueda_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Rueda_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Wait"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.Madrid_Arcade"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Fin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Help"
            android:screenOrientation="portrait" />
        <activity android:name=".ruta2.view.Milan" />
        <activity
            android:name=".ruta3.view.arcade.SarajevoArcade"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta4.view.Istanbul"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.Tehran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehranentrevistabien"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehranentrevistamal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran10"
            android:screenOrientation="portrait" />
        <activity android:name=".ruta2.view.juego.milan_juego" />
        <activity android:name=".ruta2.view.juego.milan_juego2" />
        <activity android:name=".ruta5.view.teheran_main2" />
        <activity android:name=".common.view.MainActivity2" />
        <activity
            android:name=".ruta3.view.ruta.SarajevoAlojamiento"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta3.view.ruta.SarajevoPasillo"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta3.view.ruta.SarajevoChino"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta3.view.ruta.SarajevoMejicano"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta3.view.ruta.SarajevoAfricano"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta3.view.ruta.SarajevoHabitacion"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta3.view.ruta.SarajevoBanda"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ruta4.view.GameMenu" />
        <activity android:name=".ruta4.view.StreetGuitar" />
        <activity android:name=".ruta4.view.EndGame"></activity>
    </application>

</manifest>