<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.riberadeltajo.refugiadosgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".common.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ruta1.view.Madrid" />
        <activity android:name=".ruta2.view.Milan" />
        <activity android:name=".ruta3.view.Sarajevo" />
        <activity android:name=".ruta4.view.Istanbul" />
        <activity android:name=".ruta5.view.Tehran"></activity>
    </application>

</manifest>