<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.riberadeltajo.refugiadosgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".common.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ruta1.view.Madrid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Maletas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta1.view.view.Madrid_Trans"
            android:screenOrientation="portrait" />
        <activity android:name=".ruta2.view.Milan" />
        <activity
            android:name=".ruta3.view.Sarajevo"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta4.view.Istanbul"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.Tehran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruta5.view.tehran5"
            android:screenOrientation="portrait" />
        <activity android:name=".ruta2.view.juego.milan_juego" />
        <activity android:name=".ruta2.view.juego.milan_juego2" />
        <activity android:name=".ruta5.view.teheran_main2" />
        <activity android:name=".common.view.MainActivity2" />
        <activity android:name=".ruta3.view.ruta.SarajevoAlojamiento" />
        <activity android:name=".ruta3.view.ruta.SarajevoPasillo" />
        <activity android:name=".ruta3.view.ruta.SarajevoChino" />
        <activity android:name=".ruta3.view.ruta.SarajevoMejicano" />
        <activity android:name=".ruta3.view.ruta.SarajevoAfricano" />
        <activity android:name=".ruta3.view.ruta.SarajevoHabitacion" />
        <activity android:name=".ruta3.view.ruta.SarajevoBanda"></activity>
    </application>

</manifest>